body {
    display: flex;
    justify-content: center;
}

.calcBody {
    background-color: lightgray;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calcDisplay {
    background-color: darkgray;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin: 10px;
    border-radius: 20px;
}

.btns {
    margin: 5px;
    border-radius: 10px;
    font-size: 3em;
}

.numBtns {
    background-color: beige;
}

.functionBtns {
    background-color: rgb(255, 95, 32);
}

#oneBtn {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

#twoBtn {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

#threeBtn {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

#fourBtn {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
}

#fiveBtn {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
}

#sixBtn {
    grid-column: 3 / 3;
    grid-row: 4 / 4;
}

#sevenBtn {
    grid-column: 1 / 1;
    grid-row: 5 / 5;
}

#eightBtn {
    grid-column: 2 / 2;
    grid-row: 5 / 5;
}

#nineBtn {
    grid-column: 3 / 3;
    grid-row: 5 / 5;
}

#zeroBtn {
    grid-column: 1 / 3;
    grid-row: 6 / 6;
}

#decimalBtn {
    grid-column: 3 / 3;
    grid-row: 6 / 6;
}

#divisionBtn {
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

#multiplicationBtn {
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}

#subtractionBtn {
    grid-column: 4 / 4;
    grid-row: 4 / 4;
}

#additionBtn {
    grid-column: 4 / 4;
    grid-row: 5 / 5;
}

#equalsBtn {
    grid-column: 4 / 4;
    grid-row: 6 / 6;
}